@import "_variables";
@import "_mixins";
@import "title-bar";

@import "main-bar__header";
@import "main-bar__main";


body{
  background-color: $title-bg;
  margin: 0%;
}

.main-bar{
  background-color: $main-bg;
  height: 100vh;
  position: relative;}

.title-bar{
  height: 100%;
}

